/* TypingEffect.module.css */
.typingEffect {
    white-space: nowrap;           
    font-family: sans-serif;      
    color: #4d0808;                 
    padding: 0;    text-align: center;             
 
       
 
}

/* Default Font Size */
@media (max-width: 600px) {
    .typingEffect {
        font-size: 1.5rem;           /* Smaller font size for mobile */
        margin-left: 0.5rem;         /* Adjust left margin for smaller screens */
        margin-top: 1rem;          /* Adjust top margin for smaller screens */
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .typingEffect {
        font-size: 2.5rem;           /* Medium font size for tablets */
        margin-left: 1rem;       /* Adjust margin for tablets */
        margin-top: 1.5rem;        /* Adjust margin for tablets */
    }
}

@media (min-width: 1201px) {
    .typingEffect {
        font-size: 4rem;           /* Larger font size for desktops */
        margin-left: 1.5rem;         /* Maintain original left margin for desktops */
        margin-top: 2rem;          /* Maintain original top margin for desktops */
    }
}
