/* Home.module.css */

.container {
  width: 100%;
  text-align: center;
  background-color: white;
  
 
  font-style: normal;
  
}

.container h3 {
  font-size:2rem;
color:black;   
}

.container h1 {
  
  color: transparent;
  
  background: linear-gradient(90deg, rgba(255,122,0,0.9585084033613446) 0%, rgba(77,24,8,0.9949229691876751) 69%);
  background-clip: text;           
  -webkit-background-clip: text;  
}
.row {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 2%;
  margin-right: 2%;
}
.e1 {
  border: 2px solid whitesmoke ;
  border-radius: 10%;
  margin-left:auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px grey;
}
.e1 img{
  padding-top: 1%;
  width: 75%; /* Make the image take the full width of the div */
  height:auto; /* Maintain aspect ratio */
  object-fit: contain;
}
.e1 p {
  font-size: 1.25rem;
  color:brown
}


#i1 :hover {
  border-color: (0deg, rgba(34,193,195,1) 0%, rgba(216,214,69,0.9276960784313726) 100%);

}




.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: white;
  background-color: #4d0808;
  border: 2px whitesmoke solid;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #491f1f;
}



.registertext {
  font-size: xx-large;
  color: #1d0303;
}



.registerbutton {
  margin-left: 5%;
  margin-top: 2%;
}













/* Mobile styles (max-width: 480px) */
@media (max-width: 480px) {
.container h1 {
  font-size: large
}
.container h3 {
 font-size:larger ;
}

  
  
  .button {
    margin-top: 0%;
    width: 100%;
    font-size: 0.9rem;
  }

  .h3{
    font-size: large;
  }

  .h1{
    font-size: larger;
  }
 
  
  
  
  
 
  .e1 {
    width: 30%; /* Use percentage for width */
    height:2rem; /* Allow height to adjust based on content */
    max-height: 150px; /* Set a max height to maintain aspect ratio */
    margin-left:5%; /* Center the element */
    margin-right:5%; /* Center the element */
}

.e1 img {
    width: 80%; 
}

.e1 p {
    font-size: 1rem; /* Adjust font size for readability */
}


 


}

/* Tablet styles (min-width: 481px and max-width: 768px) */
@media (min-width: 481px) and (max-width: 768px) {

 
  .button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }

  .container h1 {
    font-size:2rem ; 
  }
  .container h3 {
   font-size:1.5rem;
  }


  .e1 {
    width: 30%; /* Use percentage for width */
    height:auto; /* Allow height to adjust based on content */
    max-height: 150px; /* Set a max height to maintain aspect ratio */
    margin-left:5%; /* Center the element */
    margin-right:5%; /* Center the element */
}

.e1 img {
    width: 75%; 
}

.e1 p {
    font-size: 1rem; /* Adjust font size for readability */
}





 
}



  



